body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
}

.mainWrapper {
    text-align: center;
    margin-top: 3%;
    width: 843px;
    height: 768px;
}

.sideWrapper {
    margin-top: 3%;
    width: 523px;
    height: 768px;
}

.topWrapper {
    width: 523px;
    height: 474px;
}

.bottomWrapper {
    display: flex;
    flex-direction: column;
    width: 523px;
    height: 293px;
}

.mainWrapper .hangman {
    margin-top: 3%;
    height: 90%;
}

.topWrapper,
h1 {
    display: flex;
    justify-content: center;
    align-items: flex-end
}

h3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}