.page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.enemy-ship {
  //   margin: 100px 50px;
  position: absolute;
  width: 170px;
  height: 60px;
  background-color: brown;
  left: 50px;
  top: 50px;
}

.user-ship {
  //   margin: 100px 50px;
  width: 60px;
  height: 60px;
  background-color: aqua;
  position: absolute;
  left: 50px;
  bottom: 50px;
  &--shoot {
    width: 10px;
    height: 25px;
    background-color: darkgoldenrod;
    position: absolute;
  }
}
