@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.page {
  font-family: 'Style Script', cursive;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.main {
  width: 55vw;
  &__category {
    height: 10vh;
    border: 1px solid purple;
  }
  &__word {
    height: 35vh;
    border: 1px solid red;
  }
  &__letters {
    height: 40vh;
    width: 702px;
    border: 1px solid violet;
  }
  &__button {
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 2px;
    font-family: 'Indie Flower';
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    border-color: black;
    &:hover {
      border-color: darkred;
      color: darkred;
    }
  }
}

.output {
  width: 40vw;
  border: 1px solid blue;
}

// #word {
//   font-size: 45px;
//   letter-spacing: 5px;
//   height: 20vh;
// }

// #category {
//   color: darkblue;
//   margin-left: 50%;
//   font-size: 30px;
//   height: 10vh;
// }

// #letters {
//   height: 20vh;
// }

// #letters > button {
//   z-index: 1;
//   border: black solid 1px;
//   margin: 0 1px;
//   font-size: 30px;
// }

// #hangman > div {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   size: 35px;
// }

// img {
//   margin: 1px;
//   width: 50%;
//   margin-left: 27%;
//   margin-top: 10%;
// }
