body {
    height: 100vh;
    margin: 0;
}

#output {
    border: black 1px solid;
    height: 24.70vh;
    background-color: brown;
}

#word {
    border: white 1px solid;
    letter-spacing: 5px;
    height: 24.70vh;
    color: white;
    background-color: blue;
}

#category {
    border: black 1px solid;
    height: 24.70vh;
    background-color: burlywood
}

#letters {
    border: white 1px solid;
    height: 24.70vh;
    color: white;
    background-color: darkmagenta
}

#hangman>div {
    display: flex;
    justify-content: center;
    align-items: center;
    size: 35px;
}

img {
    margin: 1px;
    width: 150px;
    height: 100px;
}